version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: house_of_edtech_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespassword
      POSTGRES_DB: house_of_edtech
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
